@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,200;1,400;1,500;1,600;1,700&display=swap');

@font-face {
    font-family: Pablo;
    src: url("../../font/TheScientist-L3EyW.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    main{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        position: relative;
        .background {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background: url('../../assets/background.png');
            background-size: cover;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            z-index: -100;
        }
        .contact-container {
            position: relative;
            width: 300px;
            height: 500px;
            background-color: #fff;
            border-radius: 6px;
            box-shadow: 0px 0px 15px 5px #00000061;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .contact-title {
                width: 100%;
                text-align: center;
                text-transform: uppercase;
                margin-bottom: 30px;
            }
    
            form {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 30px;
    
                .contact-item-container {
                    width: 80%;
                    margin: auto;
                    position: relative;
    
                    .input {
                        position: relative;
                        width: 100%;
                        outline: none;
                        border: none;
                        border-bottom: 2px solid #000;
                        background-color: transparent;
                        z-index: 1;
                        padding: 5px;
                        transition: 0.4s;
    
                        &:focus+.label-input {
                            bottom: 30px;
                            left: 0;
                            font-size: 0.7rem;
                        }
                    }
    
                    .label-input {
                        position: absolute;
                        bottom: 5px;
                        left: 5px;
                        transition: 0.4s;
                    }
    
                    .span-input {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0;
                        height: 2px;
                        background-color: #176dde;
                        z-index: 1;
                        transition: 0.4s;
                    }
    
                    &:hover .span-input {
                        width: 100%;
                    }
    
                    .input:focus {
                        border-bottom: 2px solid #176dde;
                    }
    
                    .input:not(:placeholder-shown).input:not(:focus) {
                        border-bottom: 2px solid #176dde;
                    }
    
                    .input:not(:placeholder-shown).input:not(:focus)+.label-input {
                        bottom: 30px;
                        left: 0;
                        font-size: 0.7rem;
                    }
    
                    .textarea {
                        resize: vertical;
                        min-height: 100px;
                        max-height: 150px;
                    }
    
                    .label-textarea {
                        position: absolute;
                        top: 5px;
                        left: 5px;
                        transition: 0.4s;
                    }
                    .span-input-textarea{
                        position: absolute;
                        bottom: 1px;
                        left: 0;
                        width: 0;
                        height: 2px;
                        background-color: #176dde;
                        z-index: 1;
                        transition: 0.4s;
                    }
                    &:hover .span-input-textarea {
                        width: 100%;
                    }
                    .textarea:focus+.label-textarea {
                        top: -15px;
                        left: 0;
                        font-size: 0.7rem;
                    }
    
                    .textarea:not(:placeholder-shown).textarea:not(:focus)+.label-textarea {
                        top: -15px;
                        left: 0;
                        font-size: 0.7rem;
                    }
                }
    
                .button-contact {
                    width: 70%;
                    margin: auto;
                    margin-top: 10px;
                    padding: 10px 20px;
                    border-radius: 50px;
                    background: transparent;
                    position: relative;
                    border: none;
                    color: #fff;
                    text-transform: uppercase;
                    font-weight: 600;
                    overflow: hidden;
                    transition: all 500ms ease-out;
                    z-index: 1;
                    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.215);
                    cursor: pointer;
    
                    .bg {
                        animation: slide 3s ease-in-out infinite alternate;
                        background-image: linear-gradient(-60deg, #43afff 50%, #ab06ff 50%);
                        bottom: 0;
                        left: -50%;
                        opacity: .5;
                        position: absolute;
                        right: -50%;
                        top: 0;
                        z-index: -1;
                    }
    
                    .bg2 {
                        position: absolute;
                        animation-direction: alternate-reverse;
                        animation-duration: 4s;
                    }
    
                    .bg3 {
                        position: absolute;
                        animation-duration: 5s;
                    }
    
                    &:hover {
                        transform: scale(0.97);
                        transition: all 500ms ease-out;
                    }
                }
            }
    
            .more-info {
                position: absolute;
                bottom: 5px;
                font-size: 0.7rem;
                display: flex;
                justify-content: center;
                align-items: center;
                animation: moveGap 0.8s linear infinite;               
                cursor: pointer;
    
                &:hover+.info-contact-content {
                    bottom: -15px;
                }

                .icon-arrow{
                    font-size: 1rem;
                    color: #000;
                }
            }
    
            .info-contact-content {
                position: absolute;
                bottom: -5px;
                width: 90%;
                height: 300px;
                box-shadow: -5px 0px 15px 5px #00000061;
                z-index: -1;
                transition: 0.4s;
    
                .info-contact {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                    border-radius: 6px;
                    margin-bottom: 30px;
                    padding-top: 10px;
    
                    .arrow {
                        width: 0px;
                        height: 0px;
                        position: absolute;
                        bottom: -7px;
                        left: 50%;
                        transform: translateX(-50%);
                        border-color: #fff;
                        border-width: 10px 10px 0px 10px;
                        border-style: solid;
                        border-left-color: transparent;
                        border-right-color: transparent;
                        border-bottom-color: transparent;
                        cursor: pointer;
                    }
    
                    .contact-info {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 20px;
                        padding: 20px;
    
                        .info-name {
                            font-family: Pablo;
                        }
    
                        .info-direction {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
    
                            .info {
                                width: 100%;
                                display: flex;
                                justify-content: start;
                                align-items: flex-start;
                                padding: 0px 0px 0px 12px;
                                gap: 10px;
    
                                .icon-info {
                                    font-size: 1.5rem;
                                }
                            }
                        }
    
                        .info-redes {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 20px;
                            margin-top: 10px;
    
                            .redes {
                                width: 35px;
                                height: 35px;
                                border-radius: 50%;
                                background-color: #00bb2d;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                transition: all 0.5s linear;
    
                                &:nth-child(2) {
                                    background-color: #0e76a8;
                                }
    
                                &:nth-child(3) {
                                    background-color: #f1502f;
                                }
    
                                .icon-redes {
                                    color: #fff;
                                    font-size: 1.2rem;
                                }
    
                                &:hover {
                                    background-color: #000;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.info-open {
    bottom: -299px !important;
}
.main-open{
    padding-right: 0px;
}

@keyframes moveGap {
    0%, 100% {
        gap: 5px;
    }

    50% {
        gap: 10px;
    }
}
@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

@media(min-width:700px){
    body{
        main{
            .contact-container{
                .more-info {
                    &:hover + .info-contact-content {
                        bottom: calc(500px/2 - 300px/2);
                        right: -15px;
                    }
                }
                .info-contact-content{
                    background: transparent;
                    bottom: calc(500px/2 - 300px/2);
                    right: -5px;
                    transition: 0.4s 0.3s;
                    .info-contact{
                        .arrow {
                            bottom: 0;
                            top: 50%;
                            left: 101%;
                            transform: translateX(-50%);
                            border-color: #fff;
                            border-width: 10px 0px 10px 10px;
                            border-top-color: transparent;
                            border-bottom-color: transparent;
                        }
                    }
                }
            }
        }
    }
    .info-open {
        bottom: calc(500px/2 - 300px/2) !important;
        right: -260px !important;
    }
    .main-open{
        padding-right: 270px;
    }
}

